.container {
  width: 30%;
  max-width: 350px;
  min-width: 300px;
  height: 95vh;
  margin: 0.8em;

  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(70, 69, 69, 0.75);
}

.center {
  padding: 10px;
  background-color: #96e2f5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacing {
  margin-top: 0.8em;
}

.main_content {
  padding: 20px;
}

.input_bg {
  background-color: white;
}

.map {
  z-index: -1;
  position: absolute;
  top: 0;
}
