.sidebar {
  position: absolute;
  top: 23em;
  left: 20px;
  transform: translateY(-50%);
  width: 400px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: var(--background);
  z-index: 9999;
}

.center {
  padding: 20px 10px;
  background-color: #96e2f5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search_input {
  z-index: 1;
  cursor: pointer;
  
}
.pointer {
  cursor: pointer;
}

.niet_hackathon {
  background-color: #3182ce;
  color: white;
  width: max-content;
  padding: 1px 5px;
  position: relative;
  top: -10px;
  margin: 0 auto;
  border-radius: 5px;
}

.spacing {
  margin-top: 0.8em;
  z-index: -999;
}

.main_content {
  padding: 20px;
  padding-top: 0;
}
/* 
.input_bg {
  background-color: white;
} */

.map {
  z-index: -1;
  position: absolute;
  top: 0;
}
