.sidebar {
  position: absolute;
  top: 23em;
  left: 20px;
  transform: translateY(-50%);
  width: 400px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: var(--background);
  /* z-index: 1; */
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.center {
  padding: 20px 10px;
  background-color: #96e2f5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.niet_hackathon {
  background-color: #3182ce;
  color: white;
  width: max-content;
  padding: 1px 5px;
  position: relative;
  top: -10px;
  margin: 0 auto;
  border-radius: 5px;
}

.spacing {
  margin-top: 0.8em;
}

.main_content {
  padding: 20px;
  padding-top: 0;
}
.input_bg {
  background-color: white;
}

.map {
  z-index: -1;
  position: absolute;
  top: 0;
}

.minimise_btn {
  position: relative;
  border-radius: 50%;
  max-width: max-content;
  padding: 5px;
  top: -35px;
  left: 160px;
  margin: 0 auto;
  background-color: #3182ce;
  color: white;
  animation: minimise 2s;
}

.minimise_btn:hover {
  cursor: pointer;
}

.minimise_btn:active {
  transform: scale(0.9);
}

@keyframes minimise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* Minimised Styling */

.minimised {
  display: none;
}

/* Maps Styling */
.map {
}

.inputGrp {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: #edf2f7;
  border-radius: 5px;
}
