.temperature_display {
  /* position: relative; */
  /* top: -1.9em; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.8em;
  gap: 5px;
}

.temperature {
  color: #3182ce;
  font-weight: bold;
}

.icon {
  color: #3182ce;
}
